.sso-logo {
  margin: 1em auto 1em 1em;
  padding: 0;
  border-radius: 0;

  .sso-logo__image {
    display: block;
    height: 100%;
    width: auto;
  }
}

.app-tile {
  background-color: white;
  border: 1px solid #cfcfcf;
  padding: 10px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 15px;
  text-align: center;
  max-width: 192px;

  &__logo {
    display: block;
    margin: 0 auto;
    max-width: 120px;
    max-height: 120px;
  }

  &__name {
    text-align: center;
  }
}
