<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/lib/dnt-helper/js/dnt-helper.js"></script>
    <script src="/static/js/ga.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link
      href="/static/lib/mui/packages/cdn/css/mui.min.css"
      rel="stylesheet"
    />
    {% assets "css_base" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script src="/static/factor-ui/moz-components.js"></script>
    <script>
      window._RawSSODashboardApps = JSON.parse('{{apps|tojson}}');
      window._SSOLogoPrefix = '{{ config.CDN }}/images/';
      window._SSOUser = JSON.parse('{{user|tojson}}');
    </script>
  </head>
  <body>
    {% block appbar %}
    <moz-components-factor-header search-bar-label="Search for an app by name">
      <div slot="styles">
        {% assets "css_dashboard" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
      </div>
        <a class="sso-logo" slot="logo" href="/">
          <img
            src="/static/img/mozilla.svg"
            class="sso-logo__image"
          />
        </a>
        <moz-components-factor-profile-nav 
          slot="profile"
          show-menu="true"
          avatar-image-url="{{user.avatar}}"
          avatar-username="{{user.firstName}} {{user.lastName}}"
          first-name="{{user.firstName}}"
          last-name="{{user.lastName}}"
          primary-email="{{user.email}}"
          logout-link="/logout"
         >
         <div slot="styles">
          {% assets "css_menu" %}
          <link href="{{ ASSET_URL }}" rel="stylesheet" />
          {% endassets %}
         </div>
         <div class="menu-content" slot="menu-content">
           <ul class="menu-items">
             <li class="menu-items__link">
               <moz-components-factor-user-menu-item text="My Profile" url="https://people.mozilla.org/e/" icon="log-out">
              </moz-components-factor-user-menu-item>
            </li>
            <li class="menu-items__link">
              <moz-components-factor-user-menu-item text="Notifications" url="/notifications" icon="dashboard">
             </moz-components-factor-user-menu-item>
           </li>
           <li class="menu-items__link">
            <moz-components-factor-user-menu-item text="Manage Auto-Login" url="/autologin-settings" icon="sliders">
           </moz-components-factor-user-menu-item>
         </li>
           </ul>
           <footer class="menu-content__footer">
            <moz-components-factor-user-menu-item text="Logout" url="/logout" icon="log-out"></moz-components-factor-user-menu-item>
           </footer>
           
         </div>
        </moz-components-factor-profile-nav>
    </moz-components-factor-header>
    <!-- <div class="mui-appbar">
      <div class="mui-col-sm-2 mui-col-xs-5 mui--text-right">
        <div class="brand">
          <a href="/">
            <img
              src="/static/img/mozilla.svg"
              class="logo logo-large mui--hidden-md mui--hidden-sm"
            />
          </a>
          <a href="/">
            <img
              src="/static/img/mozilla-m.svg"
              class="logo logo-small mui--hidden-lg mui--hidden-xl mui--hidden-xs"
            />
          </a>
        </div>
      </div>
      <div class="mui-col-sm-8 mui--hidden-xs">
        {% block search %}{% endblock %}
      </div>
      <div class="mui-col-sm-2 mui-col-xs-7 mui--text-left">
        {% block menu %}{% endblock %} {% block search_button %}{% endblock %}
      </div> -->
    </div>
    {% endblock %} {% block search_mobile %}{% endblock %} {% block messages
    %}{% endblock %}

    <div class="content {% block content_class %}{% endblock %}">
        {% block content %} {% endblock %}
    </div>

    {% block user_menu %}{% endblock %} {% block footer %}
    <footer>
      <div class="mui-container mui--text-center">
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/email.svg" />
            <a
              target="_blank"
              href="https://mozilla.service-now.com/sp?id=sc_cat_item&sys_id=ca46b2794fcc2200f004ef6d0210c77c"
              target="_blank"
              >Need Help?</a
            >
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/feedback.svg" />
            <a
              target="_blank"
              href="https://discourse.mozilla.org/c/iam/dashboard"
              target="_blank"
              >Feedback</a
            >
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/github.svg" />
            <a
              target="_blank"
              href="https://github.com/mozilla-iam/sso-dashboard"
              target="_blank"
              >Contribute</a
            >
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/legal.svg" />
            <a
              target="_blank"
              href="https://www.mozilla.org/en-US/about/legal/"
              target="_blank"
              >Legal</a
            >
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/privacy.svg" />
            <a
              target="_blank"
              href="https://www.mozilla.org/en-US/privacy/websites/"
              target="_blank"
              >Privacy</a
            >
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} {% block extra_js %}{% endblock %}
    {% assets "js_dashboard" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
